dist: xenial

language: python

python:
  - 3.6
  - 3.7
  - 3.8

cache:
  pip: true
  directories:
    - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853
    - $HOME/.cache/matplotlib

before_install:
  - sudo apt-get -qq update
  # In order to install matplotlib
  - sudo apt-get install -y libpng-dev libfreetype6-dev python${VIRTUALENV_PYTHON}-dev libopenblas-dev liblapack-dev gfortran libatlas-dev

install:
  - pip install --upgrade pip
  - pip install --upgrade wheel
  - pip install --upgrade numpy 
  - pip install --upgrade matplotlib
  - pip install --upgrade pandas
  - pip install --upgrade coveralls
  - pip install --upgrade pytest
  - pip install --upgrade pytest-cov
  - pip install --upgrade pytest-mpl
  - python setup.py install

script:
  - source activate $TRAVIS_PYTHON_VERSION
  - pytest --cov astronomia --doctest-modules --ignore=docsrc --mpl

after_success:
  - coveralls
